{
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": false,
				"helpers": true,
				"regenerator": true,
				"useESModules": false
			}
		],
		["@babel/plugin-proposal-decorators", { "legacy": true }]
	],
	"presets": [
		"@babel/preset-env",
		[
		 "@babel/preset-typescript",
		  {
        "allExtensions": true // 必须设置，否者编译.vue 文件中ts 代码会报错
		  }
		]
	]
}